.more-space-margin-quiz{
    margin: 2.5rem 0;
}
.bigger-image-quiz{
    max-height: 42.5vh;
}
.more-room-question-options{
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 1rem;
}
.football-icon-answer{
    width: 4.5rem;
}
.pr-1-rem{
    padding-right: 1rem;
}

.search-card-hover:hover{
    transform: scale(1.25);
}

.search-card-hover{
    transition-duration: 500ms;
}